#root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.float--left {
  float: left;
}

.float--right {
  float: right;
}
